body {
    background-color: var(--ts-background-primary);
    color: var(--ts-color-primary);
    font-family: 'OptimusPrinceps', sans-serif;
    margin: 0 auto 0 auto;
    padding: 10px;
}

button,
input {
    background-color: var(--ts-background-secondary);
    color: var(--ts-color-primary);
    font-family: 'OptimusPrinceps', sans-serif;

    border: 1px solid var(--ts-accessibility-border);
    border-radius: 4px;
    font-size: 1.2em;

    transition: ease-in-out 0.1s;
}

button:hover,
input:hover {
    background-color: var(--ts-button-hover);
    transition: ease-in-out 0.2s;
}

button:focus-visible,
input:focus-visible {
    outline: 3px solid var(--ts-accessibility-focus);
    outline-offset: -1px;
    background-color: var(--ts-button-hover);
    transition: outline-color 0s;
}

button {
    background-color: var(--ts-button-background);
}

button:hover {
    background-color: var(--ts-button-hover);
}

button:focus-visible {
    background-color: var(--ts-button-hover);
}

.d-none {
    display: none;
}

.creature {
    display: flex;
}

.ml-auto {
    margin-left: auto;
}

.condition-icon {
    background-color: var(--ts-color-danger);
}

.buff-icon {
    background-color: rgb(34, 187, 51);
}

.active {
    border-color: var(--ts-accent-primary);
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
}