body {
    background-color: var(--ts-background-primary);
    color: var(--ts-color-primary);
    font-family: 'OptimusPrinceps', sans-serif;
    max-width: 1000px;
    margin: 0 auto 0 auto;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.2em;
}

.broadcasted-image {
    width: 100%; 
    height: auto;
}

.ts-icon-warning {
    height: 200px;
    width: 100%;
}

.d-none {
    display: none;
}

button, input {
    background-color: var(--ts-background-secondary);
    color: var(--ts-color-primary);
    font-family: 'OptimusPrinceps', sans-serif;

    border: 1px solid var(--ts-accessibility-border);
    border-radius: 4px;
    font-size: 1.2em;

    transition: ease-in-out 0.1s;
}

button:hover, input:hover {
    background-color: var(--ts-button-hover);
    transition: ease-in-out 0.2s;
}

button:focus-visible, input:focus-visible {
    outline: 3px solid var(--ts-accessibility-focus);
    outline-offset: -1px;
    background-color: var(--ts-button-hover);
    transition: outline-color 0s;
}

button {
    background-color: var(--ts-button-background);
}

button:hover {
    background-color: var(--ts-button-hover);
}

button:focus-visible {
    background-color: var(--ts-button-hover);
}
