body {
    background-color: var(--ts-background-primary);
    color: var(--ts-color-primary);
    font-family: 'OptimusPrinceps', sans-serif;
    margin: 0 auto 0 auto;
    padding: 10px;
}

button,
input,
select {
    background-color: var(--ts-background-secondary);
    color: var(--ts-color-primary);
    border: 1px solid var(--ts-accessibility-border);
    border-radius: 4px;
    font-size: 1.2em;
    transition: ease-in-out 0.1s;
}

button:hover,
input:hover {
    background-color: var(--ts-button-hover);
    transition: ease-in-out 0.2s;
}

button:focus-visible,
input:focus-visible {
    outline: 3px solid var(--ts-accessibility-focus);
    outline-offset: -1px;
    background-color: var(--ts-button-hover);
    transition: outline-color 0s;
}

button {
    background-color: var(--ts-button-background);
}

button:hover {
    background-color: var(--ts-button-hover);
}

button:focus-visible {
    background-color: var(--ts-button-hover);
}

vuplex-dropdown-container {
    position: initial !important;
}

.w-100 {
    width: 100%;
}

.mt-1 {
    margin-top: 5px;
}

.mb-1 {
    margin-bottom: 5px;
}

.mr-1 {
    margin-right: 5px;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.ml-auto {
    margin-left: auto;
}

.tracked-creatures {
    display: flex;
    row-gap: 10px;
    flex-wrap: wrap;
}

.tracked-creature {
    flex: 1 1 auto;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 5px;
    display: flex;
}

.tracked-creature.active {
    border-color: var(--ts-accent-primary);
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
}

.creature,
.effect,
.condition {
    display: flex;
    gap: 5px;
    margin: 0px;
    width: 100%;
}

.bg-condition {
    background-color: rgb(223, 138, 40);
}

.condition-icon::before {
    background-image: url('../img/condition.png');
}

.icon {
    position: relative;
    display: flex;
}

.icon::before {
    content: "";
}

.bg-effect {
    background-color: rgb(126, 51, 211);
}

.icon-effect::before {
    background-image: url('../img/effect.png');
}

.icon-concentration::before {
    background-image: url('../img/concentration.png');
}

.icon-concentration.active {
    background-color: var(--ts-accent-primary);
}

.icon-standalone {
    border-radius: 5px;
}

.button-concentration {
    background-color: transparent;
    border-color: var(--ts-color-primary);
}

.button-concentration.active {
    background-color: var(--ts-background-primary);
    border-color: var(--ts-accent-primary);
}